# Archivos de Eclipse
/.classpath
/.project
/.settings/

# Archivos de compilación de Java
/bin/
/target/
/out/

# Archivos de Maven
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Archivos de Gradle
.gradle/
/build/
!gradle-wrapper.jar
.gradle-cache/

# Archivos del IDE
*.iml
.idea/
*.ipr
*.iws

# Logs y archivos temporales
*.log
*.tmp
*.swp
*.swo
*.
/.metadata/
